<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ivan.blog.mapper.BlogCategoryMapper">
    <resultMap id="BaseResultMap" type="com.ivan.blog.entity.BlogCategory">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, number, create_time, update_time
    </sql>

    <!--查询标签详情(关联文章数量)-->
    <select id="categoryById" resultType="com.ivan.blog.entity.BlogCategory">
        select bc.id,
               bc.name,
               (select count(*) from blog_article_category bac where bc.id = bac.category_id) as number,
               bc.create_time,
               bc.update_time
        from blog_category bc
        where bc.id = #{id}
    </select>

    <!--查询标签列表(关联文章数量)-->
    <select id="categoryList" resultType="com.ivan.blog.entity.BlogCategory">
        select bc.id,
               bc.name,
               (select count(*) from blog_article_category bac where bc.id = bac.category_id) as number,
               bc.create_time,
               bc.update_time
        from blog_category bc
    </select>

    <!--通过文章id查询标签集合-->
    <select id="selectCategoryByArticel" resultType="com.ivan.blog.entity.BlogCategory">
        select bc.*
        from blog_category bc
                 left join blog_article_category b on b.category_id = bc.id
                 left join blog_article a on a.id = b.article_id
        where a.id = #{id}
    </select>

</mapper>