<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ivan.blog.mapper.BlogArticlePictureMapper">
    <resultMap id="BaseResultMap" type="com.ivan.blog.entity.BlogArticlePicture">
        <result property="id" column="id"/>
        <result property="articleId" column="article_id"/>
        <result property="filename" column="filename"/>
        <result property="pictureUrl" column="picture_url"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, article_id, filename, picture_url, create_time
    </sql>

</mapper>