<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ivan.blog.mapper.BlogArticleMapper">
    <resultMap id="BaseResultMap" type="com.ivan.blog.entity.BlogArticle">
        <result property="id" column="id"/>
        <result property="filename" column="filename"/>
        <result property="img" column="img"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="isTop" column="is_top"/>
        <result property="traffic" column="traffic"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, filename, img, title, summary, is_top, traffic, update_time
    </sql>

    <sql id="Join_Column_List">
        ba.id, ba.filename, ba.img, ba.title, ba.summary, ba.is_top, ba.traffic, ba.create_time, ba.update_time
    </sql>

    <!--随机查询三条文章信息(首页轮播图)-->
    <select id="selectListByRand" resultType="com.ivan.blog.entity.BlogArticle">
        select * from blog_article
        order by rand() limit 3
    </select>

    <!--博客列表页-->
    <select id="selectPageForIndex" resultType="com.ivan.blog.entity.vo.BlogArticleVO">
        select
        <include refid="Join_Column_List"/>
        from blog_article ba
        order by ba.is_top asc, ba.create_time desc
    </select>

    <!--根据文章分类查询文章列表-->
    <select id="selectListByCategory" resultType="com.ivan.blog.entity.vo.BlogArticleVO">
        select
        <include refid="Join_Column_List"/>
        from blog_article ba
        inner join blog_article_category bac on ba.id = bac.article_id
        inner join blog_category bc on bac.category_id = bc.id
        where bc.id = #{categoryId}
        order by ba.is_top asc, ba.create_time desc
    </select>

    <!--查询文章详情-->
    <select id="selectById" resultType="com.ivan.blog.entity.vo.BlogArticleVO">
        select ba.*, bac.content from blog_article ba
        left join blog_article_content bac on ba.id = bac.article_id
        where ba.id = #{id}
    </select>
</mapper>