<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ivan.blog.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.ivan.blog.entity.SysRole">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="permissionIds" property="permission_ids"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, permission_ids
    </sql>
</mapper>